#head{
    width: 100%;
    min-height: 100vh;
    color: rgba(255, 255, 255, 1);
}
.thead{
    width: 100%;
    height: 15vh;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;

    figure{
        width: 9%;
        height: 65%;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    nav{
        width: 65%;
        height: 100%;
        ul{
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;

            li{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    font-size: 16px;
                    transition: .4s;
                    transition-timing-function: ease;

                    &:hover{
                        letter-spacing: 1px;
                        color:  rgb(122, 158, 255);                        
                        box-shadow: 0px 0px 20px 1px rgba(0,58,219,1);
                        padding: 5px;

                    }
                }

            }
        }
    }
}
.bhead{
    width: 100%;
    height: 85vh;
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    figure{
        // border: 2px solid rgb(255, 3, 255);
        width: 50%;
        height: 80%;
        position: relative;

        .effect{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .6;
            top: 0;
            left: 0;
        }

        img{
            width: 100%;
            height: 100%;

        }
    }
    div{
        // border: 2px solid rgb(0, 238, 255);
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;

        h2{
            font-size: 5vw;
            margin: 20px 0;
        }
        p{
            font-size: 15px;
            line-height: 20px;
            color: rgba(222, 222, 222, 0.96);
        }
        a{
            color: white;
            background-color:rgba(0,58,219,0.89) ;
            box-shadow: 0px 0px 20px 1px rgba(0,58,219,1);
            border-radius: 20px;
            width: 25%;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
            text-transform: capitalize;
            transition: .4s;

            &:hover{
                box-shadow: 0px 0px 30px 5px rgb(1, 61, 224);
            }

        }
    }
}
#page2{
    width: 100%;
    // min-height: 100vh;
    // border: 2px solid red;
    padding: 0 200px;

    h2{
        width: 100%;
        // border: 2px solid red;

        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        color: white;
        font-size: 2vw;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div{
            width: 250px;
            height: 270px;
            background-color: #1B2837;
            border-radius: 5px;
            box-shadow: 0px 0px 32px 1px rgba(0, 58, 219, 0.052);
            margin: 5px;
            color: white;
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            transition: .4s;

            &:hover{
                background-color: #020202;
                box-shadow:.8rem.9rem 10px rgba(48, 63, 80, 0.416) ;
                transform: translateY(-5px);

            }

            &:nth-of-type(2){
                position: relative;
            }

            &:nth-of-type(7){
                background-color:rgba(12, 17, 23, 0) ;
                // border: 2px solid red;
                width: 500px;
                box-shadow: 0px 0px 32px 1px rgba(0, 58, 219, 0);


                div{
                    // border: 2px solid red;
                    width: 70%;
                    height: 100%;
                    background-color:rgba(12, 17, 23, 0) ;
                    box-shadow: 0px 0px 32px 1px rgba(0, 58, 219, 0);

                    a{
                        color: white;
                        background-color:rgba(0,58,219,0.89) ;
                        box-shadow: 0px 0px 20px 1px rgba(0,58,219,1);
                        border-radius: 20px;
                        width: 50%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 0;
                        text-transform: capitalize;
                        transition: .4s;

                        &:hover{
                            box-shadow: 0px 0px 30px 5px rgb(1, 61, 224);
                        }

                    }
                    p{
                        font-size: 15px;
                        line-height: 20px;
                        color: rgba(222, 222, 222, 0.96);

                    }
                    h2{
                        font-size: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                    }
                }

            }

            h4{
                font-size: 20px;
                text-transform: uppercase;
                z-index: 5;

            }
            p{
                font-size: 12px;
                z-index: 5;
                line-height: 20px;
                margin: 15px 0;
                color: rgba(214, 214, 214, 0.864);
            }
            .logo{
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 5%;
                right: 5%;
            }
            .bgdiv{
                position: absolute;
                bottom: -14%;
                right: -11%;
            }
            .bgdiv2{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
#page3{
    width: 100%;
    min-height: 100vh;
    // border: 2px solid red;
    padding: 0 150px;
    margin-bottom: 50px;

    h2{
        width: 100%;
        // border: 2px solid red;
        height: 200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        color: white;
        font-size: 2vw;
    }
    div{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        height: 100%;
        // border: 2px solid rgb(6, 44, 104);

        article{
            // border: 2px solid red;
            width: 25%;
            height: 300px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-left:60px;

            a{
                color: white;
                background-color:rgba(0,58,219,0.89) ;
                box-shadow: 0px 0px 20px 1px rgba(0,58,219,1);
                border-radius: 20px;
                width: 50%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                text-transform: capitalize;
                transition: .4s;

                &:hover{
                    box-shadow: 0px 0px 30px 5px rgb(1, 61, 224);
                }

            }
            p{
                font-size: 15px;
                line-height: 20px;
                color: rgba(222, 222, 222, 0.96);
                text-transform: capitalize;
                margin: 15px 0;


            }
            h3{
                font-size: 25px;
                text-transform: capitalize;
                display: flex;
                justify-content: flex-start;
                align-items: center;

            }
        }

        figure{
            border-radius: 5px;
            padding: 10px;
            // border: 2px solid red;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .4s;

                &:hover{
                    scale: 1.1;
                }
            }
            
            &:nth-of-type(1){
                width: 25%;
                height: 350px;
            }

            &:nth-of-type(2){
                width: 50%;
                height: 350px;
            }
            
            &:nth-of-type(3){
                width: 25%;
                height: 350px;
            }

            &:nth-of-type(4){
                width: 20%;
                height: 350px;
            }

            &:nth-of-type(5){
                width: 40%;
                height: 350px;
            }

        }

    }        
            
}
#page4{
    width: 100%;
    height: 200px;
    background-color: #2B61F7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    div{
        height: 60%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        border-right: 1px solid #abc4e3db;
        margin-left: 15px;
        transition: .4s;


        &:hover{
            transform: translateY(-5px);

        }
        
        &:last-of-type{
            border-right: none;
        }

        h4{
            font-size: 35px;
            padding-bottom: 15px;
        }
        h5{
            color: #8FC2FF;
            font-size: 20px;
        }
    }
}
#page5{
    width: 100%;
    // min-height: 100vh;
    // border: 2px solid red;
    padding: 0 150px;
    margin-bottom: 70px;

    h2{
        width: 100%;
        // border: 2px solid red;
        height: 150px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        color: white;
        font-size: 2vw;
    }
    div{
        display: flex;
        justify-content: center;

        figure{
            width: 300px;
            height: 400px;
            margin: 20px 15px;
            border-radius: 5px;
            overflow: hidden;
            transition: .4s;


            &:hover{
                box-shadow:.8rem.9rem 15px rgba(53, 67, 84, 0.849) ;
                transform: translateY(-5px) ;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .4s;

                &:hover{
                    scale: 1.1;
                }
            }
        }
        article{
            width: 300px;
            height: 400px;
            margin: 20px 15px;
            background-color: #2B61F7;
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            padding: 0 20px;
            font-size: 25px;
            transition: .4s;

            &:hover{
                transform: translateY(-5px) ;
                background-color: #0b0b0b;
                color: white;
                box-shadow:.8rem.9rem 15px rgba(53, 67, 84, 0.849) ;
                
            }

            p{
                text-align: center;
                color: rgba(201, 201, 201, 0.896);
                font-size: 15px;
            }
        }
    }
}
#page6{
    width: 100%;
    // height: 150vh;
    // border: 2px solid red;
    padding: 0 150px;
    margin-bottom: 50px;
    color: white;
    
    h2{
        width: 100%;
        // border: 2px solid red;
        height: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        color: white;
        font-size: 2vw;
    }
    section{
        display: flex;
        width: 100%;
        // border: 2px solid rgb(170, 0, 255);

        div{
            background-color: #11161C;
            // border: 2px solid red;
            margin: 15px;
            height: 550px;
            width: 33.333%;
            border-radius: 0px 150px 0px 0px;
            transition: .6s;
            // border: 3px solid rgb(255, 230, 0);


            &:hover{
                box-shadow:.8rem.9rem 15px rgba(53, 67, 84, 0.849) ;
                transform: translateY(-5px) ;
            }
            
            figure{
                width: 100%;
                height: 100%;
                padding: 15px;
                border-radius: 0px 150px 0px 0px;
                overflow: hidden;
                // border: 3px solid rgb(128, 11, 118);

                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 0px 150px 0px 0px;
                    // border: 3px solid rgb(11, 17, 128);

                }
                figcaption{
                    // border: 3px solid red;
                    width: 100%;
                    min-height: 600px;
                    position: relative;

                    article{
                        // border: 2px solid red;
                        display: flex;
                        width: 100%;
                        height: 40px;
                        align-items: center;
                        justify-content: space-between;
                        color: #727272;

                    }
                    }
                    h4{
                        font-size: 23px;
                        margin: 20px 0;
                    }
                    p{
                        color: #727272;
                        line-height: 25px;
                        text-align: justify;
                    }
                    .textpos{
                        position: absolute;
                        top: -6%;
                        left: 6%;
                        font-size: 20px;
                        z-index: 999;
                        font-size: 17px;
                    }
                    .imgpos{
                        position: absolute;
                        top: -24%;
                        left: -34%;
                        scale: .4;
                        font-size: 20px;
                        z-index: 998;
                    }
                    .bdiv{
                        position: absolute;
                        top: 35%;
                        left: -5%;
                        z-index: 998;
                        width: 450px;
                    }
                    .bbdiv{
                        position: absolute;
                        top: -5%;
                        left: 0;
                        scale: 1.4;
                    }
            }   
            
        }
    }

}
#page7{
    width: 100%;
    height: 250px;
    background-color: #0A0F14;
    color: white;
    padding: 0 150px;
    // border: 2px solid red;


    h2{
        width: 100%;
        // border: 2px solid red;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-transform: capitalize;
        font-size: 2vw;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 170px;
        width: 100%;
        // border: 2px solid rgb(0, 64, 255);

    }
}
#page8{
    width: 100%;
    min-height: 100vh;
    color: white;
    padding: 0 150px;
    // border: 2px solid red;

    h2{
        width: 100%;
        // border: 2px solid red;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-size: 2vw;
    }
    section{
        display: flex;

        div{
            width: 50%;
            // height: calc(100vh - 120px);
            // border: 2px solid red;

            &:nth-of-type(1){

                fieldset{
                    padding-right: 100px;
                    border: none;

                    form{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        // align-items: center;
                        justify-content: center;

                        input{
                            text-transform: capitalize;
                        }
                        #para1,
                        #para2,
                        #para3,
                        #para4{
                            border-bottom: 1px solid #536A82;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            background-color:rgba(12, 17, 23, 1) ;
                            margin: 20px 0;
                            height: 40px;
                            color: white;
                            
                        }
                        #para4{
                            height: auto;
                        }
                        button{
                            color: white;
                            background-color:rgba(0,58,219,0.89) ;
                            box-shadow: 0px 0px 20px 1px rgba(0,58,219,1);
                            border-radius: 20px;
                            width: 25%;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 10px 0;
                            text-transform: capitalize;
                            transition: .4s;

                            &:hover{
                                box-shadow: 0px 0px 30px 5px rgb(1, 61, 224);
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2){
                // border: 5px solid red;
                display: flex;
                justify-content: center;
                // align-items: center;
                flex-direction: column;
                flex-wrap: wrap;

                >div{
                    display: flex;
                    // border: 1px solid rgb(81, 255, 0);
                    margin: 30px 0;
                    
                    i{
                        // border: 5px solid rgb(11, 162, 140);
                        font-size: 25px;
                        padding-right: 15px;   
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        // border: 5px solid rgb(154, 11, 162);

                        p{
                            margin: 10px 0;
                        }
                    }
                    article{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        // border: 5px solid rgb(154, 11, 162);
                        width: 80%;

                        p{
                            margin: 10px 0;
                        }
                    }
                }

            }
        }
    }
}
#foot{
    width: 100%;
    height: 400px;
    color: white;
    padding: 30px 250px;
    // border: 2px solid red;
    background-color: #0A0F14;

    &>section:nth-of-type(1){
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        figure{
            width: 15%;
            height: 15%;
            // border: 2px solid rgb(0, 68, 255);

            img{
                width: 100%;
                height: 100%;

            }
        }
    }
    &>section:nth-of-type(2){
        // border: 2px solid rgb(0, 255, 247);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        p{
            width: 60%;
            text-align: center;
            color: #787878;
            line-height: 20px;
            font-size: 15px;
        }
    }
    &>section:nth-of-type(3){
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 2px solid rgb(0, 255, 247);
        margin: 30px 0;
        font-size: 15px;

    }
    &>section:nth-of-type(4){
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 0;

        
        figure{
            width: 15%;
            height: 15%;
            // border: 2px solid rgb(0, 68, 255);

            img{
                width: 100%;
                height: 100%;

            }
        }
    }
    &>section:nth-of-type(5){
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width: 60%;
            text-align: center;
            color: #787878;
            line-height: 20px;
            font-size: 15px;
        }
    }
}